[user]
    name = "Sergey Silaev"
    email = "hello@8am.dev"
[core]
    autocrlf = input
    precomposeunicode = true
    editor = /usr/bin/vim
[alias]
    st = status -b
    c = commit
    co = checkout
    br = branch
    cp = cherry-pick
    cps = cherry-pick -s
    branches = branch -vv
    slog = log --pretty=format:"%C(auto)%h%C(auto)%d\\ %C(auto,reset)%s\\ \\ [%C(auto,blue)%cn%C(auto,reset),\\ %C(auto,cyan)%ar%C(auto,reset)]"
    glog = log --graph --pretty=format:"%C(auto,yellow)%h%C(auto)%d\\ %C(auto,reset)%s\\ \\ [%C(auto,blue)%an%C(auto,reset),\\ %C(auto,cyan)%ar%C(auto,reset)]"
    wlog = log --pretty=format:"%C(auto,yellow)%h%C(auto)%d%C(auto,reset)\\ by\\ %C(auto,blue)%an%C(auto,reset),\\ %C(auto,cyan)%ar%C(auto,reset)%n\\ %s%n" --stat
    wdiff = diff --word-diff=color
    wshow = show --word-diff=color
[push]
    default=current
[diff]
    algorithm = patience
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[color "status"]
    added = green
    changed = red bold
    untracked = magenta bold
[color "branch"]
    remote = yellow
